  <nav>
    <div class="container">
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li class="nav_setting"><a href="#">Settings <i class='icon-down-arrow'></i></a>
          <ul class='sub-menu'>
            <li><a href="#">Profile</a></li>
            <li><a [routerLink]="['/manageUsers']">Manage Users</a></li>
            <li><a href="#">Change Password</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </nav>